body {
  background: #f5f5ff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #6b4eff;
  color: white;
  cursor: pointer;
}
label {
  display: block;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.memory-img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  background: #f3f3f3;
  margin-top: 12px;
  border-radius: 14px;
}
.card {
  max-height: 80vh;
  overflow-y: auto;
}
